<main>
  <div class="wrapper">
    <div class="titles">
      <h1>Practice.</h1>
      <h1>Commit.</h1>
      <h1>Repeat.</h1>
    </div>
    <img [src]="'../../assets/android-chrome-512x512.png'" />
  </div>
  <div class="content">
    <p>
      Hi, I'm Nestor, a software engineering intern. I started my career in
      programming in 2021 and I'm always looking to learn more. In my free time,
      I enjoy unwinding by playing League of Legends, watching e-sports or
      sports matches, and browsing interesting videos on YouTube. I'm a big fan
      of technology and I'm always looking for new ways to apply my programming
      skills in personal projects. Moreover, I also enjoy hanging out with
      friends, trying out new restaurants, and traveling to interesting places.
      I'm excited to see what the future holds for me as an up-and-coming
      software developer.
    </p>
  </div>
</main>
