nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  padding-inline: 3rem;
  font-size: 12px;
}
nav > a:first-child {
  font-weight: bolder;
}

nav a {
  text-decoration: none;
  font-weight: 100;
}

ul {
  display: flex;
  gap: 1rem;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  nav {
    display: flex;
    justify-content: space-around;
    padding: 0;
    padding-inline: 0;
    font-size: 20px;
  }
}
