nav {
  // background-color: red;
  display: flex;
  align-items: center;
  padding: 1rem;
}

nav a {
  text-decoration: none;
  font-weight: bolder;
}

ul {
  display: flex;
  gap: 1rem;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
}
