<main>
  <h1>Web Development: Explore. Create. Innovate.</h1>
  <p>
    I have studied web development using HTML, CSS, and JavaScript, as well as
    popular frameworks like React and Angular. Additionally, I have experience
    consuming public APIs to gather data for web applications.
  </p>

  <h2>Featured Projects</h2>
  <div class="featured-projects">
    <div
      class="featured-project"
      *ngFor="let featuredProject of featuredProjects"
    >
      <mat-icon>code</mat-icon>
      <span>{{ featuredProject.title }}</span>
      <span>{{ featuredProject.description }}</span>
      <a href="{{ featuredProject.url }}" target="_blank"> see more</a>
    </div>
  </div>

  <h2>All Projects</h2>
  <div class="all-projects" *ngFor="let year of getYears()">
    <h2>{{ year }}</h2>
    <ul>
      <li *ngFor="let project of getProjectsByYear(year)">
        <a href="{{ project.url }}" target="_blank">{{ project.title }}</a>
      </li>
    </ul>
  </div>
</main>
